@charset "utf-8";
/*=================================
	top.css
	- common
	- heading
	- text
	- line
	- link
	- list
	- table
	- column
	- box
	- @media only screen and (max-width: 640px)
	- @media print
	- clearfix
================================ */

/* common
-------------------------------- */
#main {
	width: auto;
	margin: 50px 0 0;
}
.innerWrap{
	width: 996px;
	margin: 0 auto;
}
.linkBox01 .textBox{
	background-color: #ffffff;
}

/* heading
-------------------------------- */

.top_heading02{
	font-size: 25px;
	font-size: 2.5rem;
	text-align: center;
}


/* navigation
-------------------------------- */
#navigation #globalNavi ul li .dropDownMenu{
	z-index: 101;
}
#navigation #globalNavi ul li.active a span:after{
	z-index: 102;
}

/* mainVisual
-------------------------------- */
#mainVisual {
	z-index: 1;
}
#mainVisual .mainVisualInner {
	position: relative;
	width: 100%;
	z-index: 100;
}
#mainVisual .image {
	position: absolute;
	left: 50%;
	margin-left: -800px;
	text-align: center;
}
#mainVisual .content {
	position: relative;
	width: 996px;
	margin: 0 auto;
}
#mainVisual .content .text {
	position: absolute;
	top: 25px;
}

/* slideFade */

#slideFade {
	height: 500px;
	width: 100%;
	overflow: hidden;
}
#slideFade ul li {
	height: 500px;
	width: 100%;
}
#slideFade li span{
	display:none !important;
}
#slideFade li.topSlide01{
	background:url(../../img/pc_main_im01.jpg) no-repeat center 50%;
	background-size:cover;
}
#slideFade li.topSlide02{
	background:url(../../img/pc_main_im02.jpg) no-repeat center 50%;
	background-size:cover;
}
#slideFade li.topSlide03{
	background:url(../../img/pc_main_im03.jpg) no-repeat center 50%;
	background-size:cover;
}
#slideFade .bx-controls.bx-has-pager.bx-has-controls-direction{
	width: 996px;
	margin: 0 auto;
	position: relative;
}
#slideFade .bx-wrapper .bx-pager{
	display: block;
	width: 100%;
	position: absolute;
	bottom: 5px;
	right: 0;
	text-align: center;
	z-index: 100;
}
#slideFade .bx-wrapper .bx-prev,
#slideFade .bx-wrapper .bx-next{
	display: none;
}

#slideFade .bx-wrapper .bx-pager.bx-default-pager a{
	width: 60px;
	height: 6px;
	border-radius: 0;
	background-color: #f3f3f3;
}
#slideFade .bx-wrapper .bx-pager.bx-default-pager a.active{
	background-color: #ab1515;
}
/* noTablet */
.noTablet #slideFade .bx-wrapper .bx-pager.bx-default-pager a:hover,
.noTablet #slideFade .bx-wrapper .bx-pager.bx-default-pager a:active{
	background-color: #ab1515;
}
/* section
-------------------------------- */

section{
	padding: 50px 0;
}

/* newsSite */
.newsSite{
	width: 996px;
	margin: 0 auto;
	padding-top: 0;
}
.newsSite .top_heading02 {
	font-size: 21px;
	font-size: 2.1rem;
	line-height: 1;
	text-align: left;
	color: #666666;
}
.newsSite .top_heading02 .link {
	float: right;
}
.newsSite .top_heading02 .link a {
	background: url(../img/com_ic03.png) right 45% no-repeat;
	background-size: 7px 12px;
	padding-right: 15px;
	color: #1e4792;
	font-size: 15px;
	font-size: 1.5rem;
	transition-duration: 0.2s;
}
.newsSite .top_heading02 .link a:hover {
	color: #ed0707;
}

/* bg-color */
.bg-color{
	background-color: #f3f3f3;
}

/* movieWrap */
.movieWrap{
	padding: 0 70px;
}
.movieWrap .col.typemovie {
	position: relative;
	width: 410px;
	height: 231px;
}
.movieWrap .col.typemovie iframe {
	position: absolute;
	top: 0;
	right: 0;
	width: 100% !important;
	height: 100% !important;
}

/* site */
.site{
	background: url(../../img/index_bg01.gif) repeat 0 0;
}
.site .siteTitle{
	margin-bottom: 15px;
	color: #666666;
}
.site .siteLink.type01{
	background: url(../../img/site_im01.png) right 0 no-repeat #FFFFFF;
	background-size: 137px auto;
}
.site .siteLink.type02{
	background: url(../../img/site_im02.png) right 0 no-repeat #FFFFFF;
	background-size: 137px auto;
}
.site .siteLink.type03{
	background: url(../../img/site_im03.png) right 0 no-repeat #FFFFFF;
	background-size: 137px auto;
}

.site .siteLink a {
	display: block;
	box-sizing: border-box;
	border: solid 1px #dddddd;
	color: #444444;
	transition-duration: 0.2s;
}
.site .siteLink a:hover {
	color: #ed0707;
}
.site .siteLink a p {
	background: url(../../img/com_ic01.png) 98% 60px no-repeat;
	background-size: 7px auto;
	display: table;
	height: 77px;
	width: 305px;
	padding: 5px 65px 5px 15px;
	margin-top: 0;
}
.site .siteLink a p span {
	display: table-cell;
	vertical-align: middle;
}
.site .overFlowType01 .figureLeft{
	padding-right: 25px;
	padding-bottom: 25px;
	margin-bottom: 0;
	border-right: 1px solid #dddddd;
}
.site .overFlowType01 .figureRight .col.first{
	margin-left: 0;
}
.site .overFlowType01 .figureLeft .col{
	margin-right: 0;
}


/* footer
-------------------------------- */
#footer #footerBlock{
	margin-top: 0;
}


@media only screen and (max-width: 640px) {

/* common
-------------------------------- */
#main {
	width: 100%;
	margin: 20px 0 0;
}
.innerWrap{
	width: 100%;
	margin: 0 auto;
}
.colWrap{
	margin-top: 10px;
}
.fourColumn01.sptwoColumn01 .col{
	margin-top: 25px;
}
.siteUtility02 .languageSwitch{
	margin-right: 15px;
}

/* heading
-------------------------------- */
.top_heading02{
	font-size: 21px;
	font-size: 2.1rem;
}


/* mainVisual
-------------------------------- */
#mainVisual {
	height: 320px;
	width: auto;
}
#mainVisual .mainVisualInner {
	background: none;
	height: auto;
	width: auto;
}
#mainVisual .content {
	width: auto;
}
#mainVisual .content .text {
	width: 300px;
	left: 10px;
	top: 165px;
}

/* slideFade */

#slideFade .bx-wrapper:first-child{
	display: none;
}
#slideFade {
	height: 320px;
	width: 100%;
	text-align: center;
}
#slideFade ul {
	height: auto;
}
#slideFade ul li {
	height: 320px;
	width: auto;
}
#slideFade li.topSlide01{
	background:url(../../img/sp_main_im01.jpg) no-repeat center 50%;
	background-size:cover;
}
#slideFade li.topSlide02{
	background:url(../../img/sp_main_im02.jpg) no-repeat center 50%;
	background-size:cover;
}
#slideFade li.topSlide03{
	background:url(../../img/sp_main_im03.jpg) no-repeat center 50%;
	background-size:cover;
}
#slideFade .bx-controls.bx-has-pager.bx-has-controls-direction{
	width: 100%;
}
#slideFade .bx-wrapper .bx-pager{
	width: 100%;
	text-align: right;
	bottom: 0;
}
#slideFade .bx-wrapper .bx-pager.bx-default-pager a{
	width: 40px;
	height: 4px;
	text-indent: 9999px;
}
/* section
-------------------------------- */

section{
	padding: 20px 0;
}

/* newsSite */
.newsSite{
	width: 100%;
	padding-top: 0;
}
.newsSite .top_heading02 {
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 1;
	text-align: left;
	color: #666666;
}
.newsSite .top_heading02 .link {
	float: right;
}
.newsSite .top_heading02 .link a {
	background: url(../img/com_ic03.png) right 45% no-repeat;
	background-size: 7px 12px;
	padding-right: 15px;
	color: #1e4792;
	font-size: 15px;
	font-size: 1.5rem;
	transition-duration: 0.2s;
}
.newsSite .top_heading02 .link a:hover {
	color: #ed0707;
}

/* bg-color */
.bg-color{
	margin: 10px -15px 0;
	padding: 20px 15px;
}

/* movieWrap */
.movieWrap{
	padding: 0;
}
.movieWrap .col.typemovie {
	position: relative;
	width: 100%;
	height: auto;
	padding-top: 56.25%;
}
.movieWrap dl,
.movieWrap dl dt{
	margin-top: 0;
}
/* site */
.site{
	margin: 10px -15px 0;
	padding: 20px 15px;
}
.site .siteTitle{
	margin-bottom: 10px;
	text-align: left;
}
.site .overFlowType01 .figureLeft .col,
.site .overFlowType01 .figureRight .col{
	width: 100%;
}
.site .siteLink {
	padding-top: 0;
}
.site .siteLink a p {
	width: 100%;
	padding: 5px 130px 5px 15px;
	text-align: left;
}
.site .overFlowType01 .figureLeft{
	padding: 0;
	margin-bottom: 0;
	border-right: none;
}
.site .overFlowType01 .figureRight .col.first{
	margin-top: 0;
}
.site .overFlowType01 .figureLeft .col{
	margin-top: 0;
}

#pageTopBtn{
	margin-top: 0;
	background: url(../../img/index_bg01.gif) repeat 0 0;
}

}


/* clearfix */
#mainVisual .content .quickNews:after,
#mainVisual .content .quickNews .bx-controls .bx-controls-direction a:after,
#mainVisual .content .quickNews .newsWrapper .newsLinkBlock:after,
.newsSite .top_heading02:after {
	content : "";
	display : block;
	clear : both;
}

